.bg-color-primary {
  background-color: $primary;
}
.bg-color-success {
  background-color: $success;
}
.bg-color-white {
  background-color: #fff;
}
.contener {
  max-width: 1296px;
  padding:0px 12px;
  margin: 0 auto;
}
.contener-636px {
  max-width: 636px;
  padding:0px 12px;
  margin: 0 auto;
}
@include ipad {
  .contener {
    padding: 0px 36px;
  }
}
.border-top {
  border-top: 1px solid #fff;
}
.border-right {
  border-right: 1px solid #fff;
}
.pb-8px {
  padding-bottom: 8px;
}
.mb-8px {
  margin-bottom: 8px;
}
.mb-16px {
  margin-bottom: 16px;
}
.mb-24px {
  margin-bottom: 24px;
}
.mb-48px {
  margin-bottom: 48px;
}
.p-bt-80px {
  padding: 80px 0px;
}
.text-white {
  color: #fff;
}
.text-grey {
  color: #707070;
}
.text-primary {
  color: $primary-text;
}
.text-primary-brigh {
  color: $primary
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
}
.jc-end {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.fd-column {
  flex-direction: column;
}
.at-end {
  align-items: flex-end;
}
.button {
  padding: 6px 12px;
  color: #fff;
}
.display-in-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.mouse-cur-def {
  cursor: default;
}