/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Noto+Serif+TC:wght@200;600&family=Roboto+Mono:ital,wght@0,100;0,400;1,700&family=Roboto:ital,wght@1,900&family=Source+Sans+Pro:wght@400;700&family=Tiro+Tamil&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  font-family: 'Source Sans Pro','Roboto', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #fff; }

hr {
  margin: 0px;
  background-color: #fff;
  border-width: 0.5px; }

.bg-color-primary {
  background-color: #AA0601; }

.bg-color-success {
  background-color: #FBF2F2; }

.bg-color-white {
  background-color: #fff; }

.contener {
  max-width: 1296px;
  padding: 0px 12px;
  margin: 0 auto; }

.contener-636px {
  max-width: 636px;
  padding: 0px 12px;
  margin: 0 auto; }

@media (max-width: 992px) {
  .contener {
    padding: 0px 36px; } }

.border-top {
  border-top: 1px solid #fff; }

.border-right {
  border-right: 1px solid #fff; }

.pb-8px {
  padding-bottom: 8px; }

.pl-16px {
  padding-left: 16px; }

.mb-8px {
  margin-bottom: 8px; }

.mb-16px {
  margin-bottom: 16px; }

.mb-24px {
  margin-bottom: 24px; }

.mb-32px {
  margin-bottom: 32px; }

.mb-48px {
  margin-bottom: 48px; }

.p-bt-80px {
  padding: 80px 0px; }

.text-white {
  color: #fff; }

.text-grey {
  color: #707070; }

.text-primary {
  color: #650300; }

.text-primary-brigh {
  color: #AA0601; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.at-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.button {
  padding: 6px 12px;
  color: #fff; }

.display-in-block {
  display: inline-block; }

.display-block {
  display: block; }

.mouse-cur-def {
  cursor: default; }

.border-left-red {
  border-left: 8px solid #AA0601; }

.h1 {
  font-size: 64px;
  font-weight: bold; }

.h2 {
  font-size: 48px;
  font-weight: bold; }

.h3 {
  font-size: 36px; }

.h4 {
  font-size: 24px;
  font-weight: bold; }

.p-20px {
  font-size: 20px; }

.text-italic {
  font-style: italic; }

.title {
  font-size: 48px;
  font-weight: bold; }

.bold {
  font-weight: bold; }

@media (max-width: 498px) {
  .h1-s {
    font-size: 24px;
    font-weight: bold; }
  .h3-s {
    font-size: 16px; }
  .p-20px-s {
    font-size: 16px; } }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar a {
    font-size: 20px;
    padding: 12px 32px; }
    .navbar a:hover {
      color: #efcbcb; }
  .navbar .img-p-0 {
    padding: 0px; }
  .navbar .icon-menu {
    color: #fff;
    display: none;
    font-size: 40px; }
  .navbar .nav-img {
    width: 80px;
    height: 72px;
    -o-object-fit: contain;
       object-fit: contain; }

.mobile-nav-list {
  display: none; }

@media (max-width: 992px) {
  .navbar a {
    padding: 12px; } }

@media (max-width: 619px) {
  .navbar a {
    font-size: 16px;
    padding: 12px 8px; } }

@media (max-width: 498px) {
  .navbar .icon-menu {
    display: block; }
  .navbar ul {
    display: none; }
  .mobile-nav-list {
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
    .mobile-nav-list li {
      text-align: center;
      width: 50%; }
    .mobile-nav-list a {
      display: block;
      padding: 12px 0px;
      font-size: 16px; }
      .mobile-nav-list a:hover {
        color: #efcbcb; }
  .mobile-nav-list.active {
    max-height: 100%;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
  .icon-menu.none {
    display: none; }
  .navbar.jcc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

footer {
  padding-top: 60px;
  font-family: 'Noto Sans TC'; }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-list li {
    padding: 0px 24px; }

.imgs img {
  display: inline-block;
  margin: 0px 16px;
  width: 48px;
  height: 48px; }

.mobile-footer-addImgs-imgs {
  display: none; }

.footer-connect {
  margin-top: 35px;
  margin-bottom: 32px; }
  .footer-connect a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-connect p {
    font-size: 54px;
    font-weight: 400; }

.icon-call, .icon-email {
  font-size: 48px;
  font-weight: 900;
  margin-right: 22px; }

.footer-end {
  padding: 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-end ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-end a {
    padding: 0px 24px; }

@media (max-width: 992px) {
  .imgs img {
    margin: 0px 8px;
    width: 40px;
    height: 40px; }
  footer {
    padding-top: 56px; }
  .footer-list li {
    padding: 0px 12px; }
  .footer-connect p {
    font-size: 36px; }
  .footer-end {
    padding-bottom: 40px; } }

@media (max-width: 619px) {
  .imgs img {
    margin: 0px 4px;
    width: 30px;
    height: 30px; }
  .footer-list li {
    padding: 0px 4px; }
  footer {
    padding-top: 24px; }
  .footer-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 24px; }
    .footer-end ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .footer-end a {
      padding: 4px 0px; }
    .footer-end p {
      padding-bottom: 4px; } }

@media (max-width: 498px) {
  .footer-list {
    display: none; }
  .footer-connect {
    margin-top: 0px;
    margin-bottom: 24px; }
    .footer-connect p {
      font-size: 26px; }
  .icon-call, .icon-email {
    font-size: 24px; }
  .mobile-footer-addImgs-imgs {
    display: inline-block; }
  .mobile-footer-addImgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.home-header {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-size: cover;
  background-position: 70% 0; }
  .home-header .button {
    font-size: 20px; }

.home-header-heig {
  height: 787px; }

.home-area-2 span {
  color: #650300;
  font-size: 100px; }

.home-area-2 ul {
  margin-top: 24px;
  gap: 24px; }

.home-area-2 li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.home-area-2 h4 {
  margin-top: 16px;
  margin-bottom: 8px; }

.home-area-3 img {
  margin-bottom: 8px; }

.home-area-3 ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px; }

.home-area-3 li {
  width: 33%; }

.home-area-4 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true"); }
  .home-area-4 .home-area-4-height {
    height: 608px; }
  .home-area-4 ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .home-area-4 li {
    width: 50%; }
  .home-area-4 p {
    padding: 8px 0px; }
  .home-area-4 .bg-img-1 {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true");
    background-size: cover;
    background-position: center;
    height: 240px; }
  .home-area-4 .bg-img-2 {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true");
    background-size: cover;
    background-position: center;
    height: 240px; }

.home-area-5 .home5-bg-img-1 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true");
  background-size: cover;
  background-position: center;
  height: 306px;
  border-radius: 4px 4px 0px 0px; }

.home-area-5 .home5-bg-img-2 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true");
  background-size: cover;
  background-position: center;
  height: 306px;
  border-radius: 4px 4px 0px 0px; }

.home-area-5 .home5-bg-img-3 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true");
  background-size: cover;
  background-position: center;
  height: 306px;
  border-radius: 4px 4px 0px 0px; }

.home-area-5 .home5-bg-img-4 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true");
  background-size: cover;
  background-position: center;
  height: 306px;
  border-radius: 4px 4px 0px 0px; }

.home-area-5 ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px; }

.home-area-5 li {
  -webkit-box-shadow: 0px 0px 7px rgba(126, 126, 126, 0.7);
          box-shadow: 0px 0px 7px rgba(126, 126, 126, 0.7);
  width: 25%;
  border-radius: 4px; }

.home-area-5 .feedback-area {
  height: 205px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.home-form-area input[type=text], .home-form-area textarea {
  border: 1px solid #000;
  width: 100%;
  padding: 6px 12px; }
  .home-form-area input[type=text]::-webkit-input-placeholder, .home-form-area textarea::-webkit-input-placeholder {
    color: #000;
    opacity: 0.2; }
  .home-form-area input[type=text]::-moz-placeholder, .home-form-area textarea::-moz-placeholder {
    color: #000;
    opacity: 0.2; }
  .home-form-area input[type=text]:-ms-input-placeholder, .home-form-area textarea:-ms-input-placeholder {
    color: #000;
    opacity: 0.2; }
  .home-form-area input[type=text]::-ms-input-placeholder, .home-form-area textarea::-ms-input-placeholder {
    color: #000;
    opacity: 0.2; }
  .home-form-area input[type=text]::placeholder, .home-form-area textarea::placeholder {
    color: #000;
    opacity: 0.2; }
  .home-form-area input[type=text]:focus, .home-form-area textarea:focus {
    outline: none;
    border: 2px solid #AA0601; }

.home-form-area .checkbox-area {
  position: relative;
  display: inline-block; }
  .home-form-area .checkbox-area input:checked + label {
    background: #AA0601; }
  .home-form-area .checkbox-area input:checked + label::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 4px;
    width: 5px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.home-form-area input[type=checkbox] {
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 4px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 4px;
  width: 22px;
  height: 22px; }

.home-form-area label[for=consent] {
  margin-top: -1px;
  margin-bottom: 4px;
  color: red;
  position: absolute;
  left: 2px;
  top: 0;
  z-index: 0;
  width: 24px;
  height: 24px;
  border-radius: 4px; }

.home-form-area textarea {
  width: 100%;
  resize: none; }

@media (max-width: 992px) {
  .home-area-2 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .home-area-2 li {
    width: 47%; }
  .home-area-3 img {
    max-width: 336px; }
  .home-area-3 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .home-area-3 li {
    width: 100%; }
  .home-area-4 {
    height: 960px; }
    .home-area-4 ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 24px; }
    .home-area-4 li {
      width: 100%; }
  .home-area-5 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .home-area-5 li {
    width: 47.5%;
    gap: 0px; } }

@media (max-width: 619px) {
  .home-area-2 li {
    width: 100%; }
  .home-area-4 .bg-img-1 {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true");
    background-size: cover;
    background-position: center;
    height: 240px; }
  .home-area-4 .bg-img-2 {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true");
    background-size: cover;
    background-position: center;
    height: 240px; }
  .home-area-5 li {
    width: 100%; } }

@media (max-width: 498px) {
  .home-header-heig {
    height: 396px; }
  .home-header .button {
    font-size: 20px; }
  .home-area-3 {
    padding: 40px 0px; }
    .home-area-3 img {
      max-width: 100%; } }

.questions-area {
  padding-top: 96px;
  padding-bottom: 80px; }

.questions {
  max-width: 856px; }

@media (max-width: 992px) {
  .questions-area {
    padding-top: 80px; } }

@media (max-width: 498px) {
  .questions-area {
    padding-top: 40px;
    padding-bottom: 40px; } }

.mr-0.mr-0 {
  margin-right: 0px; }

.ml-0.ml-0 {
  margin-left: 0px; }

.pl-0.pl-0 {
  padding-left: 0px; }

.pr-0.pr-0 {
  padding-right: 0px; }

/*# sourceMappingURL=all.css.map */
