.h1 {
  font-size: 64px;
  font-weight: bold;
}
.h2 {
  font-size: 48px;
  font-weight: bold;
}
.h3 {
  font-size: 36px;
}
.h4 {
  font-size: 24px;
  font-weight: bold;
}
.p-20px {
  font-size: 20px;
}
.text-italic {
  font-style: italic;
}
.title {
  font-size: 48px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
@include mobile {
  .h1-s {
    font-size: 24px;
    font-weight: bold;
  }
  .h3-s {
    font-size: 16px;
  }
  .p-20px-s {
    font-size: 16px;
  }
}