footer {
  padding-top: 60px;
  font-family: 'Noto Sans TC';
}

.footer-list {
  display: flex;
  justify-content:space-between;
  align-items: center;
  ul {
    display: flex;
    margin-left: -24px;
  }
  li {
    padding: 0px 24px;
  }
}
.imgs {
  margin-right: -16px;
  img {
    margin: 0px 16px;
    width: 48px;
    height: 48px;
  }
}

.footer-connect {
  margin-top: 35px;
  margin-bottom: 32px;
  a {
    display: flex;
    align-items: center;
  }
  h5 {
    font-size: 54px;
    font-weight: 400;
  }
}
.icon-call, .icon-email {
  font-size: 48px;
  font-weight: 900;
  margin-right: 22px;
}
.footer-end {
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    margin-right: -24px;
  }
  a {
    padding: 0px 24px;
  }
}

@include ipad {
  .imgs {
    margin-right: -8px;
    img {
      margin: 0px 8px;
      width: 40px;
      height: 40px;
    }
  }
  footer {
    padding-top: 56px;
  }
  .footer-list {
    ul {
      margin-left: -12px;
    }
    li {
      padding: 0px 12px;
    }
  }
  .footer-connect {
    h5 {
      font-size: 36px;
    }
  }
  .footer-end {
    padding-bottom: 40px;
  }
}
@include big-mobile {
  .imgs {
    margin-right: -4px;
    img {
      margin: 0px 4px;
      width: 30px;
      height: 30px;
    }
  }
  .footer-list {
    ul {
      margin-left: -4px;
    }
    li {
      padding: 0px 4px;
    }
  }
}
@include mobile {
  .footer-list {
    display: none;
  }
  
}