footer {
  padding-top: 60px;
  font-family: 'Noto Sans TC';
}

.footer-list {
  display: flex;
  justify-content:space-between;
  align-items: center;
  ul {
    display: flex;
  }
  li {
    padding: 0px 24px;
  }
}
.imgs {
  img {
    display: inline-block;
    margin: 0px 16px;
    width: 48px;
    height: 48px;
  }
}
.mobile-footer-addImgs-imgs {
  display: none;
}

.footer-connect {
  margin-top: 35px;
  margin-bottom: 32px;
  a {
    display: flex;
    align-items: center;
  }
  p {
    font-size: 54px;
    font-weight: 400;
  }
}
.icon-call, .icon-email {
  font-size: 48px;
  font-weight: 900;
  margin-right: 22px;
}
.footer-end {
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
  }
  a {
    padding: 0px 24px;
  }
}

@include ipad {
  .imgs {
    img {
      margin: 0px 8px;
      width: 40px;
      height: 40px;
    }
  }
  footer {
    padding-top: 56px;
  }
  .footer-list {
    li {
      padding: 0px 12px;
    }
  }
  
  .footer-connect {
    p {
      font-size: 36px;
    }
  }
  .footer-end {
    padding-bottom: 40px;
  }
}
@include big-mobile {
  .imgs {
    img {
      margin: 0px 4px;
      width: 30px;
      height: 30px;
    }
  }
  .footer-list {
    li {
      padding: 0px 4px;
    }
  }
  footer {
    padding-top: 24px;
  }
  .footer-end {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 24px;
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      padding: 4px 0px;
    }
    p {
      padding-bottom: 4px;
    }
  }
}
@include mobile {
  .footer-list {
    display: none;
  }
  .footer-connect {
    margin-top: 0px;
    margin-bottom: 24px;
    p {
      font-size: 26px;
    }
  }
  .icon-call, .icon-email {
    font-size: 24px;
  }
  .mobile-footer-addImgs-imgs {
    display: inline-block;
  }
  .mobile-footer-addImgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

